*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

iosApp/build/
iosApp/DerivedData/
iosApp/**/Pods/
iosApp/**/Products/
iosApp/**/Frameworks/
iosApp/**/*.xcconfig
iosApp/*.xcodeproj/
iosApp/*.xcworkspace/
!iosApp/*.xcodeproj/project.pbxproj
!iosApp/*.xcodeproj/xcshareddata/
!iosApp/*.xcworkspace/contents.xcworkspacedata
!iosApp/**/xcshareddata/xcschemes/
iosApp/*.xcodeproj/xcuserdata/
iosApp/*.xcworkspace/xcuserdata/
